---
layout: layouts/base.html
---

<main id="main">
    <div class="container">
        {{ content | safe }}
    </div>
</main>

<section id="newsletter" class="bg-gray">
    <div class="container">
        <h2>Newsletter</h2>
        <p>Subscribe to get emails about new tools, features, and updates from Toollama.</p>
        <form action="https://buttondown.email/api/emails/embed-subscribe/toollama" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/toollama', 'popupwindow')" class="embeddable-buttondown-form">
            <label for="bd-email">Enter your email</label>
            <input type="email" name="email" id="bd-email"></input>
            <input type="hidden" value="1" name="embed"></input>
            <input type="submit" value="Subscribe"></input>
            <small style="text-align:right;">
                <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
            </small>
        </form>
    </div>
</section>