{% extends 'layouts/base.njk' %}

{% block hero %}
    <div class="hero container">
        <div class="hero__content">
            <div class="hero__text">Education tools for everyone</div>
            <div class="hero__tagline">Free for teachers, ad-free for students</div>
            {# <button class="button cta">Browse</button> #}
        </div>
        <div class="hero__graphic">
            <img src="{{ 'assets/hero-graphic.png' | url }}" alt=""/>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main id="main">
        <div class="container">
            <h1 class="visually-hidden">Toollama.com</h1>
            {{ content | safe }}
        </div>
    </main>

    {% include "partials/newsletter.html" %}
{% endblock %}